<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-phone-call-trap"
        version="0.2.0">
    <name>PhoneCallTrap</name>
    <description>Cordova plugin to access phone and calls state</description>
    <license>MIT</license>
    <keywords>cordova, calendar, phone, call, phone-call</keywords>
    <repo>https://github.com/pcvengros/cordova-phone-call-trap</repo>
    <issue>https://github.com/pcvengros/cordova-phone-call-trap/issues</issue>

    <js-module src="www/PhoneCallTrap.js" name="PhoneCallTrap">
        <clobbers target="cordova.plugins.phonecalltrap"/>
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="PhoneCallTrap">
                <param name="android-package" value="org.apache.cordova.plugin.phonecalltrap.PhoneCallTrap"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
            <uses-permission android:name="android.permission.READ_CALL_LOG" />
            <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
            <uses-permission android:name="android.permission.CALL_PHONE" />
			<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
        </config-file>

        <source-file src="src/android/PhoneCallTrap.java" target-dir="src/org/apache/cordova/phonecalltrap"/>

        <framework src="com.android.support:support-compat:27.1.1" />
    </platform>

    <platform name="ios">

        <config-file target="config.xml" parent="/*">
            <feature name="PhoneCallTrap">
                <param name="ios-package" value="CDVPhoneCallTrap"/>
            </feature>
        </config-file>

        <header-file src="src/ios/CDVPhoneCallTrap.h"/>
        <source-file src="src/ios/CDVPhoneCallTrap.m"/>

        <framework src="CoreTelephony.framework"/>

    </platform>
</plugin>
